In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("../data/ab_test_fintech_data.csv")

In [3]:
data.head()

   user_id    group  converted            timestamp  clicks  views
0        1  control          0  2025-01-01 00:00:00       2      3
1        2     test          0  2025-01-01 00:01:00       3      5
2        3  control          0  2025-01-01 00:02:00       6      8
3        4  control          0  2025-01-01 00:03:00       1      3
4        5  control          0  2025-01-01 00:04:00       4      4

In [4]:
data.shape

(1000, 6)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   user_id    1000 non-null   int64
 1   group      1000 non-null   object
 2   converted  1000 non-null   int64
 3   timestamp  1000 non-null   object
 4   clicks     1000 non-null   int64
 5   views      1000 non-null   int64
dtypes: int64(4), object(2)
memory usage: 47.0+ KB